* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffee7;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  padding: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7c6a0a;
}
nav p {
  font-size: 2.5rem;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  color: #7c6a0a;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3rem;
}
article p {
  font-size: 1.5rem;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #fa9500;
  border-style: none;
  border-radius: 35px;
  color: white;
  font-size: 1rem;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 30px 60px;
}
section h2 {
  color: #7c6a0a;
  font-size: 2rem;
}
section .healtcare, section .furniture {
  padding-bottom: 60px;
}
section .healtcare h2, section .furniture h2 {
  font-weight: 400;
  padding-bottom: 60px;
}
section .healtcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 80px;
}
section .healtcare .product-card, section .furniture .product-card {
  width: 14vw;
  height: 48vh;
  background-color: #ffdac6;
  color: #7c6a0a;
  padding: 20px;
  border-radius: 8px;
}
section .healtcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healtcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28 px;
  height: 28px;
}
section .healtcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healtcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .furniture .product-card {
  background-color: #babd8d;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #e86424;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5rem;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery {
  padding-bottom: 60px;
}
.gallery h2 {
  padding-bottom: 60px;
  font-weight: 300;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #e86424;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=main.css.map */